.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  color:black
}

h2 {
  font-size: 20px;
}

input[type="email"],
select {
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}

.options-container {
  margin-bottom: 20px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option input[type="radio"] {
  margin-right: 10px;
}

.option label {
  font-size: 16px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.timer {
  font-size: 16px;
  margin-top: 20px;
}
.quiz-result-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.quiz-result-container h2 {
  color: #333;
}

.score {
  font-size: 20px;
  margin-bottom: 10px;
}

.questions-container {
  margin-top: 20px;
}

.question {
  font-size: 16px;
  margin-bottom: 10px;
}

.correct-answer {
  color: green;
}

.user-answer {
  color: brown;
}

.buttons-container {
  margin-top: 20px;
}

.buttons-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

